/**************************** FOOTER ****************************/
footer{
    background-color: black;
    color: darkgreen;
    font-family: 'Noto Sans JP';
    font-weight: 500;
    font-size: 10pt;
    text-align: center;
    padding: 5px;
}