/**************************** STYLE GENERAL ****************************/
html {
  overflow-x: hidden;
}

html body {
  margin: 0;
  padding: 0;
  /**************************** HEADER ****************************/
}

html body header {
  padding: 0;
  /**************************** NAV ****************************/
}

@media only screen and (max-width: 375px) {
  html body header {
    /*Style nav responsive*/
    padding: 15px;
  }
}

html body header nav {
  margin: 0 auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  /* ICON BURGER*/
  /*ICON CROIX*/
  /*LISTE DES BOUTONS*/
}

html body header nav img {
  height: 80px;
}

@media only screen and (max-width: 375px) {
  html body header nav {
    /*Style nav responsive*/
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  html body header nav img {
    height: 60px;
  }
}

html body header nav #burger {
  display: none;
}

@media only screen and (max-width: 375px) {
  html body header nav #burger {
    /*Style de l'icon responsive*/
    display: block;
    font-size: 18pt;
  }
}

html body header nav #close {
  display: none;
}

@media only screen and (max-width: 375px) {
  html body header nav #close {
    /*Style de l'icon responsive*/
    display: none;
    font-size: 18pt;
  }
}

html body header nav #nav_liste {
  width: 80%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body header nav #nav_liste li a {
  font-family: "Noto Sans JP";
  font-weight: 700;
  font-size: 14pt;
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 375px) {
  html body header nav #nav_liste {
    /*Style nav responsive*/
    display: none;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 25px 0 0 0;
    margin: 0;
    font-size: 12pt;
  }
  html body header nav #nav_liste li {
    padding-block: 5px;
  }
}

html body hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 4px;
}

html body #ligne_header_verte {
  background-color: darkgreen;
}

html body #ligne_header_jaune {
  background-color: yellow;
}

/**************************** FOOTER ****************************/
footer {
  background-color: black;
  color: darkgreen;
  font-family: 'Noto Sans JP';
  font-weight: 500;
  font-size: 10pt;
  text-align: center;
  padding: 5px;
}

/**************************** BANNIERE ****************************/
#banniere {
  background-image: url("../../images/entreprise/banniere.jpg");
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Noto Sans JP";
  font-size: 20pt;
  margin-bottom: 75px;
}

@media only screen and (max-width: 375px) {
  #banniere {
    background-position: center;
    text-align: center;
    font-size: 14pt;
    height: 400px;
  }
}

/**************************** DEUXIEME SECTION ****************************/
#section_deux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin: 0 auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: 'Noto Sans JP';
}

#section_deux #un, #section_deux #trois {
  width: 40%;
  padding-bottom: 75px;
}

#section_deux #deux {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 75px;
}

#section_deux #deux img {
  height: 100px;
  padding-left: 100px;
}

@media only screen and (max-width: 375px) {
  #section_deux {
    width: 90%;
  }
  #section_deux #un, #section_deux #trois {
    width: 100%;
  }
  #section_deux #deux img {
    display: none;
  }
}

/**************************** SEPARATION ****************************/
#separation {
  color: darkgreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 75px;
}

#separation hr {
  width: 30%;
  border: none;
  background-color: darkgreen;
  height: 4px;
}

@media only screen and (max-width: 375px) {
  #separation hr {
    height: 12px;
    width: 12px;
    border-radius: 25px;
  }
}

/**************************** EQUIPE ****************************/
#equipe {
  font-family: 'Noto Sans JP';
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#equipe div {
  padding-bottom: 75px;
}

#equipe #title {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

#equipe #title h2 {
  font-size: 23pt;
}

#equipe #franck, #equipe #nelly, #equipe #delphine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#equipe #franck p, #equipe #nelly p, #equipe #delphine p {
  width: 50%;
  font-weight: 400;
}

#equipe #franck div, #equipe #nelly div, #equipe #delphine div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#equipe #franck div i, #equipe #nelly div i, #equipe #delphine div i {
  color: darkgreen;
}

@media only screen and (max-width: 375px) {
  #equipe {
    width: 100%;
  }
  #equipe div {
    padding-bottom: 25px;
  }
  #equipe #title {
    width: 80%;
  }
  #equipe #title p {
    width: 100%;
  }
  #equipe #franck, #equipe #delphine {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #equipe #franck p, #equipe #delphine p {
    width: 80%;
    text-align: center;
  }
  #equipe #franck div, #equipe #delphine div {
    font-size: 10pt;
  }
  #equipe #nelly {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #equipe #nelly p {
    width: 80%;
    text-align: center;
  }
  #equipe #nelly div {
    font-size: 10pt;
  }
}
/*# sourceMappingURL=style.css.map */